body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;

}

header {
    height: 100vh;
    background-image: url(/src/img/home-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}

.header hr {
    max-width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #00e0d0;
    width: 100%;

}

#navbarResponsive .nav-link {
    color: #ffffff;
    font-size: 13px;
}

#navbarResponsive {
    text-transform: uppercase;   
}


.small-logo span {
	background: linear-gradient(to right, #30CFD0 0%, #4aa3cc 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.big-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.header h1 {
    font-size: 31px;
    font-weight: 900;
}

.header p {
    font-weight: 300;
    margin-bottom: 7%;
}

.default-btn {
    text-transform: uppercase;
    color: #00e0d0;
    background-color: transparent;
    border: solid 1px #00e0d0;
    border-radius: 2px;
    padding: 0.5rem 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 16px;
    outline: 0;
}

h2 {
    font-size: 20px;
    text-transform: uppercase; 
}

.on-white {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.on-white p {
    margin-bottom: 25px;
    color: rgba(65, 61, 75, 0.75);
}

.on-white h2 {
    margin-bottom: 25px;
    color: #413d4b;
}

section {
    height: 100%;
}

#about {
    display: flex;
    flex-direction: column;
}

#video {
    background-image: url(/src/img/about-background.png);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video button {
    background-color: transparent;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    margin-top: 15%;
    margin-bottom: 15%;
}

#expertise {
    display: flex;
    flex-direction: column;
}

#expertise h2 {
    text-align: center;
}

#expertise .on-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#expertise .dectiption {
    display: flex;
}

.expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 86%;
}

.expertise hr{
    max-width: 940px;
    margin: 0;
    border-top: 1px solid rgba(47, 45, 53, 0.2);
    width: 100%;
}

.expertise h3 {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.expertise-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expertise-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 32px 30px;
}

.expertise-central-item {
    border-left: 1px solid rgba(47, 45, 53, 0.1);
    border-right: 1px solid rgba(47, 45, 53, 0.1);
}

.description hr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #413d4b;
    width: 100%;
    text-align: center;
}

#teams {
    background-image: url(../img/team-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 71px 15%;
}

.on-image hr {
    max-width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

.team-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-block {
    background-color: #413d4b;
    height: 150px;
    width: 150px;
}

.image-block h3 {
    font-size: 14px;
}





